<h1>Editing sel_tutor</h1>

<% form_tag :action => 'update', :id => @sel_tutor do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @sel_tutor %> |
<%= link_to 'Back', :action => 'list' %>
