<h1>Editing static_permission</h1>

<% form_tag :action => 'update', :id => @static_permission do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @static_permission %> |
<%= link_to 'Back', :action => 'list' %>
