<% for column in StaticPermission.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @static_permission.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @static_permission %> |
<%= link_to 'Back', :action => 'list' %>
