<% for column in OpenTitle.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @open_title.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @open_title %> |
<%= link_to 'Back', :action => 'list' %>
